<nav class="navbar navbar-light" style="background-color: #3C464C;">
    <a class="navbar-brand" href="#" style="color: #ffffff">Randy 20x40 garage</a>
</nav>
<br>
<br>
<div class="container-fluid">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="">
        <div class="input-group-append">
            <button class="btn btn-secondary" type="button">
                         <i class="fa fa-search"></i>
                        </button>
        </div>
    </div>
    <br>


    <div>
        <dt style="border-bottom: 1px dotted; color: #808080">Structural</dt>
        <dd style="color: #808080">No Materials</dd>
    </div>
    <br>
    <div>
        <dt style="border-bottom: 1px dotted; color: #808080">Sheets and Trims
                </dt>
        <dd style="color: #808080">No Materials</dd>
    </div>
    <br>
    <div>
        <dt style="border-bottom: 1px dotted;color: #808080 ">Screws, Fasteners & Sealers</dt>
        <dd style="color: #808080">No Materials</dd>
    </div>
    <br>
    <div>
        <dt style="border-bottom: 1px dotted; color: #808080 ">Accessories & Options</dt>
        <dd style="color: #808080">No Materials</dd>
    </div>
    <br>
    <div>
        <dt style="border-bottom: 1px dotted; color: #808080 ">Project Colors</dt>
        <dd style="color: #808080">No Materials</dd>
    </div>
    <br>

    <p>
        <button class="btn btn-outline-primary " type="submit ">Estimate Tax and Freight</button> &nbsp;&nbsp;&nbsp;
        <button class="btn btn-outline-primary " type="submit ">Send For Order Approval</button>
    </p>




</div>